@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600&family=Fraunces:wght@700;900&display=swap');
/* Default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
}
.bol-font {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  color: hsl(212, 27%, 19%);
  font-size: 2em;
  margin-bottom: 15%;
}
.semi-bol-font {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  color: hsl(212, 27%, 19%);
  margin-top: 10%;
}
.p-font{
    color: hsl(213, 9%, 39%);
    font-weight: 600;
    line-height: 1.6;
}

/* Custom Start Here */
header {
  height: 100vh;
  background-color: #3ebfff;
  /* background-image: url(images/mobile/image-header.jpg); */
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}
.container {
  padding: 5%;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}
.nav-m {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-top: 1vh;
}

.toggler {
  cursor: pointer;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 5vh 0;
}
.navbar-nav .nav-items {
  list-style: none;
  border-radius: 2rem;
}
.navbar-nav .nav-items .nav-links {
  font-size: 18px;
  color: hsl(203, 3%, 54%);
  text-decoration: none;
  font-weight: 600;
  padding: 3vh 10vw;
  display: block;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  border-radius: 2rem;
}
#odd-link {
  background-color: hsl(51, 100%, 49%);
  font-family: 'Fraunces', serif;
  color: hsl(212, 27%, 19%);
  font-weight: 600;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* ----------------- Header main ---------------------- */

.main-p {
}
.main-p h1 {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  color: #fff;
}
.main-p .arrow {
}

/* ----------------- Six Box Section ---------------------- */
.six-boxes {
  display: grid;
  grid-template-columns: auto;
}
.six-boxes img {
  max-width: 100%;
}
.six-boxes .text-box {
  text-align: center;
  padding: 15% 5%;
  background: hsl(26, 100%, 99%);
}
.bot-y-line, .bot-r-line{
    width: 40%;
    height: 10px;
    
    margin: auto;
    border-radius: 10px;
    transform: translateY(-2vh);
}
.bot-y-line{background: hsl(51, 100%, 49%);}
.bot-r-line{background: hsl(7, 99%, 70%);}
/*  */
/*  */
/*  */
/*  */
/*  */

@media only screen and (max-width: 549px) {
  .collapse {
    /* display: none; */
    position: relative;
    z-index: 1;
    top: 20px;
    width: 0%;
    float: right;
    overflow: hidden;
    /* display: none; */
    transition: width 0.3s;
  }
  .animation {
    /* display: block; */
    width: 100%;
    animation: slidein 0.5s /* alternate-reverse infinite  */;
  }
  @keyframes slidein {
    from {
      width: 0;
    }

    to {
      width: 100%;
    }
  }
  .main-p {
    position: relative;
    text-align: center;
    height: 80vh;
    bottom: 0;
  }
  .main-p h1 {
    position: absolute;
    top: 20vh;
    /* left: vw; */
    margin: 0 10vw;
  }
  .main-p .arrow {
    display: block;
    position: absolute;
    top: 45vh;
    left: 40vw;
  }
}

@media only screen and (min-width: 550px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #333; */
  }
  .container {
    padding: 1% 5%;
  }
  .toggler {
    display: none;
  }
  .collapse {
    position: static;
  }
  .animation {
    transform: translateY(0);
    transition: 5s;
    display: block;
  }
  .navbar .logo {
    margin-top: 1vh;
  }
  .navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    background-color: transparent;
  }

  .navbar-nav .nav-items {
    margin-left: 10px;
  }
  .navbar-nav .nav-items .nav-links {
    padding: 1vh 1.5vw;
    font-weight: 400;
    color: #fff;
  }
  .navbar-nav .nav-items .nav-links:hover {
    background-color: hsla(0, 0%, 100%, 0.3);
  }
  #odd-link {
    background-color: #fff;
  }
}
@media only screen and (min-width: 769px) {
  .navbar .logo {
    margin-top: 1.5vh;
  }
  .navbar-nav .nav-items {
    margin-left: 30px;
  }
  .navbar-nav .nav-items .nav-links {
    padding: 1.5vh 1.5vw;
  }
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}

/* 
## Colors

### Primary

- Soft red: hsl(7, 99%, 70%)
- Yellow: hsl(51, 100%, 49%)
- Dark desaturated cy an (graphic design text): hsl(167, 40%, 24%)
- Dark blu e (photogra phy text): hsl(198, 62%, 26%)
- Dark moderate c yan (footer): hsl(168, 34%, 41%)

### Neutral

- Very dark desaturated blue: hsl(212, 27%, 19%)
- Very dark grayish blue: hsl(213, 9%, 39%)
- Dark grayish blue: hsl(232, 10%, 55%)
- Grayish blue: hsl(210, 4%, 67%)
- White: hsl(0, 0%, 100%)
*/
